
* {
    box-sizing: border-box;
    margin:0;
}
body {
    padding:10px;
    background-color: antiquewhite;
    color:rgb(143, 104, 54);
}

/*General Div*/
#div-general{
    display:flex;
    flex-direction: column;
}
/*Top Div*/
#div-top{
    position:relative;
}

/*Title*/
#div-mainTitle{
    width:100%;
    height:200px;
    display:flex;
    align-items: center;
    justify-content:center;
}
#mainTitle{
    font-size: 5em;
}

/*LOG*/
#div-log{
    position:absolute;
    display:flex;
    flex-direction: column;
    top:35%;
    left:60px;
}

/*RIGHT-TOP*/
#div-right-top{
    position:absolute;
    top:35%;
    right:120px;
}
/*TOP RIGHT BUTTONS*/
.btn-top-right{
    background-color:antiquewhite;
    color: rgb(143, 104, 54);
    font-size:20px;
    width:110px;
    height:55px;
    margin:0 10px;
}

/*LIBRARY*/
#library{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:30px;
    text-align: center;
}
.div-book{
    border-radius: 1%;
    position:relative;
    margin:20px 30px;
    border: 2px rgb(143, 104, 54) solid;
    box-shadow: 7px 7px rgba(187, 187, 187, 0.534);
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height:400px;
    width:300px;
}
.div-book-title-author, .div-book-read-stars{
    display:flex;
    padding:5px;
    flex-direction: column;
    align-items:center;
}
.book-title{
    font-size:35px;
    word-break: break-word;
}
.div-book-btnDelete{
    position:absolute;
    top:20px;
    left:20px;
}
.book-btnDelete{
    border-radius: 50%;
    background-color: rgb(143, 104, 54);
    color:antiquewhite;
    width:35px;
    height:35px;
    transition: all 0.2s ease-in-out;
}
.book-btnDelete:hover{
    transform: scale(0.93) rotate(-90deg);
}
.div-book-toggle{
    position:absolute;
    bottom:10px;
    right:10px;
}



/*Form*/
#div-book-form{
    background-color: rgb(109, 78, 78);
    color:antiquewhite;
    position:fixed;
    width:450px;
    height:700px;
    border: 2px black solid;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:0 20px;
    font-size:20px;
}
#formTitle{
    font-size:55px;
}
.div-form-book-part{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inp-book{
    width:300px;
    font-size: 40px;
}
#label-read{
    margin-right:20px;
    font-size: 40px;
}
input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
#btn-submit{
    width:200px;
    height:80px;
    font-size: 50px;
}




/*Add Button*/
#btn-add{
    position:fixed;
    right:50px;
    bottom:50px;
    width:5vw;
    height:5vw;
    border-radius: 50%;
    font-size:50px;
    background-color:rgb(143, 104, 54);
    color:antiquewhite;
    transition: 0.15s all linear;
}
#btn-add:hover{
    transform: scale(1.06) rotate(90deg);
}




/*Rating*/
#div-rating{
    position:fixed;
    width:500px;
    height:250px;
    background-color:antiquewhite;
    border: 2px rgb(143, 104, 54) solid;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#rating-title{
    font-size:60px;
    color:rgb(143, 104, 54);
}
#rating-submit{
    border:2px rgb(143, 104, 54) solid;
    background-color:antiquewhite;
    color:rgb(143, 104, 54);
    font-size:25px;
}